/**
 * header : 한글에 대한 보정
 */
.nav.navbar-nav {
    font-size:16px;
}

.nav.navbar-nav > li > a {
    padding: 0px 20px;
    text-transform: none;
    background-color: #0d1318;
}

.nav.navbar-nav > li.nav-all .text {
    font-size: 16px;
}

/**
 * navbar 롤오버시 보이는 panel.
*/
.nav.navbar-nav li .subnav-wrapper.account-hover-nav {
    width: 180px;
    left: initial;
    float: right;
    right: 0;
    padding: 0 30px;
}

.nav.navbar-nav li .subnav-wrapper.account-hover-nav .subnav-full {
    margin-top:20px;
    margin-bottom:20px;
}

/* 메인 새소식 영역 본문 */
.style-review-list .small {
    font-style:normal;
}

.main-news-section article {
    margin-bottom: 10px;
}

.alert-short {
    padding-top:6px;
    padding-bottom:6px;
}

/* data tables 에서 검색창 ui가 우측으로 넘어가는 버그 수정용 (임시방편) : 원인 찾아서 고친후에 이 줄은 없앨것 */
.dataTables_wrapper .dataTables_filter input {
    /*width:initial;*/
}

.entry-content a,
.footnotes-area a {
    color:#CD5C5C;
}

.entry-content h3,
.entry-content p {
    overflow: hidden;
}

div.pulled-left {
    float: left;
    width: 250px;
    margin-left: 30px;
    margin-right: 35px;
    text-align: left;
}

table.head-summary {

}

table.head-summary thead th {
    background: #eef1f1;
    font-weight: bold;
}

table.head-summary tbody th {
    background: #eef1f1;
}

table.head-summary tbody td {
    background: #f7f5f5;
}

.footnotes-area {
    padding-top:20px;
}

.footnotes-area .footnotes-title {
    font-size: 26px;
    line-height: 36px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    margin-bottom: 15px;
}
.footnotes-area > .footnote-list {
    border-top: 2px solid #d0d0d0;
    padding-top: 25px;
}
.footnotes-area .footnote {
    position: relative;
    margin-bottom: 5px;
}

.entry-content table img {
    margin-bottom: 0;
}


/**
 *위키 본문 내 이미지들 요 클래스 이름은 지시어로 아좋은것 같음. double-image 등등 네이밍 규칙 만들것
 *
 *
 * image-double : 이미지 두개 나란히
 * image-full : 이미지 한개 크게
 * image-left-half : 절반크기 왼쪽 이미지
 * image-right-half : 절반크기 오른쪽 이미지
 *
 *
 */
.context-image {
    overflow: hidden;
}
.context-image img {
    margin-bottom: 0;
}

.context-image .thumbnail {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    -o-background-clip: padding-box;
    background-clip: padding-box;

    margin-bottom: 0;
}

.context-image-double-first,
.context-image-double-second {
    margin-bottom: 20px;
}

.caption {
    border-left: 2px solid #ccc;
    margin: 5px 0 0 0;
    padding: 2px 0 0 5px;
    font-family: Dotum;
    font-size: 12px;
    color: #666;
    line-height: 18px;
}


/**************************************************************************
 * 								RESPONSIVE
 *************************************************************************/
@media (max-width: 520px) {

}

@media (max-width: 768px) {
    div.pulled-left {
        float: none;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        text-align: left;
    }
}

@media (min-width: 769px) {
    div.pulled-left {
        margin-left: -145px;
    }
    .footnotes-area > .footnote-list {
        margin-left: -87px;
    }

}

@media (max-width: 991px) {
    div.context-image-double-first,
    div.context-image-double-second {
        width: 100%;
    }
}

@media (min-width: 992px) {
    div.context-image-double-first,
    div.context-image-double-second {
        width: 50%;
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 1540px) {

}
