/**
 * header : 한글에 대한 보정
 */
.nav.navbar-nav {
    font-size:16px;
}

.nav.navbar-nav > li > a {
    padding: 0px 20px;
    text-transform: none;
    background-color: #0d1318;
}

.nav.navbar-nav > li.nav-all .text {
    font-size: 16px;
}

/**
 * navbar 롤오버시 보이는 panel.
*/
.nav.navbar-nav li .subnav-wrapper.account-hover-nav {
    width: 180px;
    left: initial;
    float: right;
    right: 0;
    padding: 0 30px;
}

.nav.navbar-nav li .subnav-wrapper.account-hover-nav .subnav-full {
    margin-top:20px;
    margin-bottom:20px;
}

/* 메인 새소식 영역 본문 */
.style-review-list .small {
    font-style:normal;
}

.main-news-section article {
    margin-bottom: 10px;
}

.alert-short {
    padding-top:6px;
    padding-bottom:6px;
}

/* data tables 에서 검색창 ui가 우측으로 넘어가는 버그 수정용 (임시방편) : 원인 찾아서 고친후에 이 줄은 없앨것 */
.dataTables_wrapper .dataTables_filter input {
    /*width:initial;*/
}
