/**
 * header
 */
.nav.navbar-nav {
    font-size:16px;
}

.nav.navbar-nav > li > a {
    padding: 0px 20px;
    text-transform: none;
    background-color: #0d1318;
}

.nav.navbar-nav > li.nav-all .text {
    font-size: 16px;
}

/** navbar 롤오버시 보이는 panel. 스타일 우선순위를 높이기 위해 최대한 상세히 class 를 기술 */
.nav.navbar-nav li .subnav-wrapper.account-hover-nav {
    width: 180px;
    left: initial;
    float: right;
    right: 0;
    padding: 0 30px;
}
